body {
    margin: 0;
    padding: 0;
    background-image: url("./img/background.jpg");
    background-size: cover;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.main-container {
    position: relative;
    top: 20%;
    width: 340px;
    background-color: white;
    margin: auto;
    border-radius: 4px;
}

.header {
    height: 35%;
    text-align: center;
}

.nav-section {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.active-circle {
    height: 7px;
    width: 7px;
    background-color: grey;
    margin-right: 10px;
    border-radius: 100%;
}
.inactive-circle {
    height: 7px;
    width: 7px;
    background-color: lightgrey;
    margin-right: 10px;
    border-radius: 100%;
}

.active-card {
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.inactive-card {
    font-size: 14px;
    font-weight: 600;
    color: #b5b5b5;
    padding-left: 20px;
}

.card-type {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    position: relative;
}

.card-type:hover {
    background: #f6f6f6;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
}

.card-img {
    height: 50px;
    width: 50px;
}

.check-img {
    position: absolute;
    left: 85%;
    height: 25px;
    width: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: royalblue;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    position: relative;
}

.footer:active {
    top: 1px;
}

.footer:hover {
    background-color: #5564eb;
}

.footer-text {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.arrow-img {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
