body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #4d515d;
}

.root {
    margin: 50px auto;
    width: 900px;
}

.main-container {
    display: flex;
    background-color: white;
    border-radius: 4px;
}

.sign-up {
    padding-top: 70px;
    width: 540px;
}

.content {
    padding-left: 60px;
    padding-right: 60px;
}

.title {
    font-size: 35px;
    font-weight: 400;
}

.info {
    font-size: 13px;
    color: grey;
    font-weight: 500;
    margin: 0px;
    margin-top: 10px;
}

.sign-options {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.option {
    background-color: white;
    border: 1px solid #ebecea;
    color: grey;
    font-size: 11px;
    font-weight: 700;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.option:hover {
    border-color: white;
    color: black;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.1);
}

.button-img {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 20px;
    height: 20px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #f5f5f5;
    padding: 40px 60px 30px 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-message {
    font-size: 12px;
    font-weight: 700;
}

.email-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: bold;
    color: grey;
}

.email-button:hover {
    color: black;
}

.picture {
    background: #fafafa url("./img/side.jpg") no-repeat;
    background-size: cover;
    width: 360px;
}
